@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
}

/* You can add global styles to this file, and also import other style files */


html {
  font-family: "Inter", sans-serif;
  color: #1C1C1C;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Poppins", sans-serif;
}
